.cache-main
.DS_Store
.classpath
.project
.settings
target
OUTPUT/
*.class
*.list
*.csv
*.pdf
logs/
GumTreeInput/
GumTreeInput1/
GumTreeOutput1/
GumTreeResults/

*/Test.java
*TestParser.java
# Package Files #
*.jar
