target/
samples/
.settings/
.project
.classpath
.recommenders/
.metadata/
.idea/
*.iml
.DS_Store
OUTPUT/
Dataset/
logs/
gen.jdt/src/main/java/edu/lu/uni/serval/gumtree/GumTreeTester.java
*.pyc
app.log
*.rdb
