.cache-main
.DS_Store
.classpath
.project
.settings
target
OUTPUT/
*.class
*.list
*.csv
*.pdf
logs/
GumTreeInput/
GumTreeInput1/
GumTreeOutput1/
GumTreeResults/

*TestParser.java
src/main/java/edu/lu/uni/serval/FixPatternParser/TestParser.java
# Package Files #
*.jar
